[user]
	name = Alessandro Angelino
	email = alessandro@angelno.io
[push]
	default = simple
[core]
	autocrlf = input
	editor = vim
[alias]
    # Usage: git change-commits GIT_COMMITTER_NAME "old name" "new name"
    #        git change-commits GIT_AUTHOR_EMAIL "old@email.com" "new@email.com"
    #        git change-commits GIT_COMMITTER_NAME "old name" "new name" HEAD~10..HEAD
    change-commits = "!f() { VAR=$1; OLD=$2; NEW=$3; shift 3; git filter-branch --env-filter \"if [[ \\\"$`echo $VAR`\\\" = '$OLD' ]]; then export $VAR='$NEW'; fi\" $@; }; f "
